.pageTitle {
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 2px 2px #3c3c38;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 3px solid #bdaad9;
  border-bottom-style: ridge;
}

.container {
  position: relative;
}

